* {
    box-sizing: border-box;
}

body {
    font-family: "Avenir Next";
}

li {
    color: #fff;
    list-style:none;
    float:left;
    padding: 33px 20px 33px 20px;
}


.header{
    background-color:skyblue;
    height:90px;
}

.header-logo {
    background-color: skyblue;
    color: #fff;
    font-size: 36px;
    float:left;
    padding: 20px 40px 20px 40px;
}
 
.main{
    background-color:whitesmoke;
    padding: 100px 80px;
}



.copy-container h1 {
    font-size: 60px;
}

.copy-container h2 {
    font-size: 30px;
}


.contents {
    height: 500px;
    margin-top: 100px;
}
  

.section-title {
    border-bottom: 2px solid #dee7ec;
    font-size: 28px;
    padding-bottom: 15px;
    margin-bottom: 50px;
}


.contents-item {
    float: left;
    margin-right: 40px;
}

.contents-item:active {
    box-shadow: none;
    position: relative;
    top: 7px;
}


.main_tambahan{
    background-color:darkgray;
    padding: 100px 80px;
}

.footer{
    background-color:skyblue;
    height:90px;
    padding: 40px;
    color: #fff;
}
  
 
.footer-logo {
    font-size: 32px;
    float: left;
}
  
.footer-list {
    float: right;
}
  
.footer-list li {
    padding-bottom: 20px;
}
  